// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// FontAwesome
@import '~@fortawesome/fontawesome-free/css/all.css';

/*  ---------------
  | BackGround Color|
    --------------- */

.backgroundDark{
    background-color: $brownDark;
}
.backgroundLight{
    background-color: $brownLight;
}

/*  ----------
  | Text Color |
    ---------- */

.textColor {
    color: $brownDark;
}

/*  ------
  | Button |
    ------ */

.createBtn{
    background-color: $brownDark;
    color: $brownLight;
}

.createBtn:hover{
    transform: scale(1.1);
    transition: 1s;
    background-color: $brownLight;
    color: $brownDark;
    border: 1px solid $brownDark;
}

.plainBtn, .deleteBtn{
    border: 1px solid $brownDark;
}

.plainBtn:hover {
    transition: 1s;
    background-color: $brownDark;
    color: $brownLight;
}

.deleteBtn:hover{
    transition: 1s;
    background-color: #f94144;
    color: $brownLight;
}


// Section Show Post
.draftBtn{
    background-color: $red;
}
.postedBtn{
    background-color: $green;
}

// Section Create Post
#uploadPreview {
    border-radius: 0.5rem;
}






.title, .slug{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.showCategory{
    background-color: $brownDark;
    color: white;
}

.loginColor{
    color: #292b2c;
}